spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true
        use_sql_comments: true

management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /dpmcore-actuator
    jmx:
      exposure:
        exclude: "*"
    access:
      default: none

  endpoint:
    health:
      enabled: true
