spring:
  config:
    import: optional:file:.env[.properties]
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        show_sql: true
        use_sql_comments: true

  jooq:
    sql-dialect: mysql

  security:
    jwt:
      secret_key: ${JWT_SECRET_KEY}
      expiration-time:
        access-token: ${ACCESS_TOKEN_EXPIRATION_TIME}
        refresh-token: ${REFRESH_TOKEN_EXPIRATION_TIME}

    login-url: ${LOGIN_URL:/login}
    logout-url: ${LOGOUT_URL:/logout}
    redirect-url: ${REDIRECT_URL:/swagger-ui/index.html}
    admin-redirect-url: ${ADMIN_REDIRECT_URL:/swagger-ui/index.html}
    restricted-redirect-url: ${RESTRICTED_REDIRECT_URL:/swagger-ui/index.html}

    cookie:
      domain: ${COOKIE_DOMAIN:localhost}
      secure: ${COOKIE_SECURE:true}
      http-only: ${COOKIE_HTTP_ONLY:false}

    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            redirect-uri: ${KAKAO_REDIRECT_URI}
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            scope:
              - account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

management:
  endpoints:
    web:
      exposure:
        include: health
      base-path: /actuator
    access:
      default: none
  endpoint:
    health:
      access: read_only
logging:
  level:
    org.jooq.tools.LoggerListener: DEBUG

cohort:
  value: 17

session:
  attendance:
    start-hour: 14

attendance:
  graduation:
    impossible-threshold: 4
    at-risk-threshold: 3
